/* =========================================================
   SMOOTH THEME TRANSITION
   ========================================================= */

   * {
  transition:
    background-color 0.35s ease,
    color 0.35s ease,
    border-color 0.35s ease,
    fill 0.35s ease,
    box-shadow 0.35s ease,
    transform 0.35s ease;
}
